.modal {
  &__backdrop {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 30;
    width: 100vw;
    height: 100vh;
    background: rgba(0, 0, 0, 0.7);
    display: flex;
    align-items: flex-start;
    justify-content: center;
  }
  width: 50%;
  margin: auto;
  background: var(--modal-background-color);
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  padding: 2em 4em;
}
